@model Diplom.Models.ViewModels.Shop.Pentie.PentieSizeListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPentie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PentieSizes) {
        <tr>
            <td>
               @* @Html.DisplayFor(modelItem => item.CurrentPentie)*@
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.CurrentColor)*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
