
@model IEnumerable<string>

<a class="btn btn-block btn-link"
   asp-action="Index"
   asp-controller="Shop"
   asp-route-category="@ViewBag.CurrentCategory"
   asp-route-sort="@ViewBag.SortBy"   
   asp-route-page="1">
    All
</a>

@foreach (var brand in Model)
{
<a class="btn btn-block @(brand==ViewBag.CurrentBrand ? "btn-warning" :  "btn-link")"
   asp-action="Index"
   asp-controller="Shop"
   asp-route-category="@ViewBag.CurrentCategory"
   asp-route-brand="@brand"
   asp-route-sort="@ViewBag.SortBy"
   asp-route-page="1">
    @brand
</a>}
